<div *ngIf="mensaje" class="alert alert-primary" role="alert"> </div>
<div class="d-flex">
    <div class="">
        <div class="card" style="width: 18rem;">
            <input (change)="getPokemon()" class="form-control" type="text" [(ngModel)]="nombrePokemon">
            <button class="btn btn-primary" (click)="getPokemon()"> GET POKEMON</button>
            <img class="card-img-top" src='{{ pokemon.imagen }} ' alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ pokemon.id }}º {{ pokemon.nombre }}</h5>
                <p class="card-text d-none">
                    Some quick example text to build on the card title and make up the bulk of
                    the card's content.</p>
                    <span *ngFor="let habilidad of pokemon.habilidades" class="badge badge-secondary ml-1">{{ habilidad }}</span>
            </div>
        </div> <!-- .card -->
    </div> <!-- .col -->
    <div class="flex-grow-1 align-items-center d-flex" style="background-color: black;max-width: 50vw;">
        <pre style="color: white; background-color: black;">{{ pokemon | json}}</pre>
    </div>
</div>