

<h2> {{ titulo }}  </h2>

<p> Numero clicks {{ numeroClicks }}</p>

<button class="btn btn-primary" (click)= "contarClicks()"> CONTA</button>
<br>
<p>Ejemplo de propiedad, siempre con [] y las variables sin llaves</p>
<p> La propiedad <code>hidden</code> es de Angular y tambien podriamos haber usado <code>ngIf</code> </p>
<p [hidden]="!visible">
  ADIOS con hidden
</p>
<p *ngIf="visible">
  ADIOS ngIf
</p>
<button class="btn btn-primary" (click)="decirAdios()"> ADIOS</button>

<hr>
<p> Podemos declarar propiedades al vuelo , sin tener que definirlas en el Componente. </p>
<div [class]="claseSeleccionada"> COLOR que cambia al pulsar botones</div>

<button (click) = "claseSeleccionada = 'rojo'" > ROJO</button>
<button (click) = "claseSeleccionada = 'verde'" > VERDE</button>

<p>Para usar banana in a box recordar importar el modulo de <code>FormsModule</code></p>

<label > Nombre: {{jugador}}</label>
<br>
<input type="text" [(ngModel)] = "jugador">

/*

*/
