
h1 {
    color: teal;
}

ul.no-style {
  list-style-type: none;
}

footer {

  min-height: 50px;
  background-color: lightgray;
  div.contenedor{
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
  }
  i {
    font-size: 25px;
  }
}
