<h2> Jugando con arrays </h2>

<div class="row">
    <div class="col">
        <pre style="background-color: black; color: white">{{ frutas | json }}</pre>
    </div>
    <div class="col">
        <p>Precio total: <b> {{ total }} </b> </p>
        <p>Precio total con descuento: <b> {{ totalDescuento }} </b> </p>
        <p>Nombre de los productos: <b> {{ aSoloNombres }} </b></p>
        <p>Frutas con descuento: <b> {{ frutasConDescuento }} </b></p>
        <p>Nombre frutas amarillas: <b> {{ frutasAmarillas }} </b></p>
        <p>Precio total de las frutas amarillas: <b> {{ precioFrutasAmarillas }} </b></p>
        <p>Buscar primera fruta verde: <b> {{ primeraVerde.nombre }} </b></p>
        <p>Array de colores: <b> {{ todosColores | json }} </b></p>
    </div>
</div>

