<!-- https://www.lavanguardia.com/r/GODO/LV/p6/WebSite/2019/08/26/Recortada/img_mrius_20190826-141857_imagenes_lv_terceros_procrastinar_1-kp3F-U464261375072SwH-992x558@LaVanguardia-Web.jpg -->
<h2> Tareas </h2>
<p> Ejemplo de Provider o Servicio para hacer un CRUD, completo contra un servicio REST </p>

<div class="container contenedor">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-md-8 col-lg-6 card p-3" style="background-color: rgba(128, 128, 128, 0.075);">

      <div class="alert alert-info" [hidden]="!alerta.mostrar">
        {{ alerta.mensaje }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="alerta.mostrar = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="input-group mb-4">
        <input class="form-control" type="text" [(ngModel)]="nuevaTarea">
        <div class="input-group-append">
          <button class="btn btn-primary" (click)="crearTarea(nuevaTarea)"> Crear </button>
        </div>
      </div>

      <ul class="list-group">
        <li *ngFor="let tarea of tareas" class="list-group-item tarea">

          <input class="mr-2" type="checkbox" [checked]="tarea.completada" (click)="editarEstado(tarea)">
          <div>
            <b>{{ tarea.id }}</b>
          </div>

          <span contenteditable="true" [textContent]="tarea.titulo" (input)="tarea.titulo=$event.target.textContent">
          </span>

          <button (click)="borrarTarea(tarea)" class="btn danger"> <i class="fas fa-trash red"></i> </button>
        </li>
      </ul>

    </div>
  </div>
</div>
