<h1> SASS </h1>
<p>SASS es un precompilador de CSS y soporta dos formatos. <code>.sass</code> y <code>.scss</code> y nos genera un <code>.css</code></p>

<p>Vamos a usar el formato <code>.scss</code> porque es el mas sencillo para aprender puesto que soporta que escribamos en <code>css</code></p>
<p>Existen otros precompiladores como <code>LESS</code> y <code>STYLUS</code></p>
<p>Documentacion oficial <a href="https://sass-lang.com/" target="_blank"> SASS</a></p>


<span class="borde10">10</span>
<span class="borde50">50</span>


<button class="boton-verde" > BOTON VERDE</button>
<button class="boton-rojo" > CANCELAR</button>
